
.white-links a:link, a:active,a:visited {
 color: #fff;
 background-color: transparent;
 text-decoration: none;
}

.white-links a:hover {
 color: yellow;
 background-color: transparent;
 text-decoration: none;
}

.navpngs
{
 max-height: 20px;
 max-width: 20px;
} 

.navpngs:hover 
{
   max-height: 16px;
   max-width: 16px;
}

body
{
 color: #fff;
 font-family: 'Raleway', sans-serif;
 background-color: #fff;
 /*https://www.calgarydefence.com/*/
}


#hero-cover
{
 width: 100%;
 height: 100vh;
 position: relative;
 background-image: url(../images/kn.jpg)!important;
 background-size: cover;
 background-repeat: no-repeat!important;
 }

#hero
{
 width: 100%;
 height: 100vh;
background: rgba(0,0,0,0.65);
position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}


#main
{ width: 100%;
 height: 100vh;
 position: relative;
   padding: 15px;
   color: #000;
}


section .title
{
   font-style: bold;
   font-weight: 900;
   font-size: 40px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5),  1px -1px 0 rgba(255, 255, 255, 0.9); 
}

#about-image
{

    background-size: cover;
    max-height: 500px;
    
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

.tab
{
	margin-top: 15px;

}

.pngs
{

 max-height: 50px;
 max-width: 50px; 

}

h5	
{

	display: inline;
	
}







.emboss
{
 font-size: 64px;
 font-weight: 700;
 font-family: 'Satisfy', cursive;
 /*font-family: 'Montserrat', sans-serif;*/
 text-shadow: -3px 1px 1px rgba(0, 0, 0, 0.5),  1px -1px 0 rgba(255, 255, 255, 0.9); 
}

.emboss:hover
{
   font-size: 68px;
}

